/* 탑바색션 */
.top-bar-section{
 /* border: 1px solid red; */
 position: fixed; z-index: 100; width: 100%;
 background-color: rgba(255, 255, 255, 0.3);
 box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.1);
 transition: all 0.5s;
}
.top-bar-section.roll {
 background-color: #fff;
}
.top-bar-section.roll .top-bar-bottom>nav>ul>li>a{
 color: #333;
}
.top-bar-container{
 /* border: 1px solid orange; */
 max-width: 1440px; margin-left: auto; margin-right: auto; 
 display: flex; flex-direction: column;
}
.top-bar-top{
 /* border: 1px solid green; */
 display: flex; justify-content: center;
 padding-top: 30px; padding-bottom: 10px;
}
.top-bar-top >.logo-box{
 /* border: 1px solid blue; */
 width: 180px;
}
.top-bar-top >.logo-box img{
 width: 100%;
}
.top-bar-bottom{
 /* border: 1px solid green; */
}
.top-bar-bottom>nav{
 /* border: 1px solid blue; */
}
.top-bar-bottom>nav>ul{
 /* border: 1px solid red; */
 display: flex; height: 100%; justify-content: center;
}
.top-bar-bottom>nav>ul>li{
 /* border: 1px solid orange; */
 width: 170px; height: 100%;
}
.top-bar-bottom>nav>ul>li>a{
 /* background-color:#eee;  */
 width: 100%; height: 100%;
 padding-top: 25px; padding-bottom: 25px;
 display: flex; justify-content: center;
 font-weight: 500; font-size: 18px; color: #fff;
}



/* 색션1 */
.section-1{
 /* border: 1px solid red; */
 background-image: url(image/sseudam-section1-back.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
 height: 1700px;
 display: flex; flex-direction: column; justify-content: space-between;
}
.section-1-container-1{
 /* border: 1px solid orange; */
 width: 1440px; height: 1000px; 
 margin-left: auto; margin-right: auto; 
 position: relative;
}
.section-1-left-box{
 /* border: 1px solid green; */
 margin-top: 260px; margin-left: 130px;
 display: flex; flex-direction: column; gap:30px;
 width: max-content;
 animation: start 3s;
}
@keyframes start {
 0% {
     opacity: 0;
     transform: translate3d(0, 20%, 0);
 }
 to {
     opacity: 1;
     transform: translateZ(0);
 }
}
.section-1-text-box{
 /* border: 1px solid blue; */
 display: flex; flex-direction: column;
}
.section-1-text-box>.sub-text{
 /* border: 1px solid red; */
 font-weight: 500; font-size: 35px; line-height: 50px; color: #fff;
}
.section-1-text-box>.title-text{
 /* border: 1px solid red; */
 font-family: 'ghanachoco';font-size: 100px; color: #fff;
}
.section-1-more-btn:hover > a{
 background-color: #FFD833;
 color: #058761;
 border: 2px solid #058761;
}
.section-1-more-btn{
 width: 250px;
}
.section-1-more-btn >a{
 border: 2px solid white;
 border-radius: 50px;
 /* background-color:#eee;  */
 width: 100%; height: 100%;
 display: flex; justify-content: center;
 padding-top: 17px; padding-bottom: 17px;
 font-weight: 600; font-size: 20px; color: #fff;
 box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.1);
}
.section-1-right-img-right{
 /* border: 1px solid green; */
 position: absolute; bottom: 150px; right: 200px;
 width: 380px;
 transition:all .9s;
}
.section-1-right-img-left{
 /* border: 1px solid green; */
 position: absolute; bottom: 0px; right: 300px;
 width: 380px;
 transition:all .9s;
}
.section-1-right-img-right>img{
 width: 100%; height: 100%;
 object-fit: cover;
}
.section-1-right-img-left>img{
 width: 100%; height: 100%;
 object-fit: cover;
}
.section-1-container-2{
 /* border: 1px solid orange; */
 width: 1440px;
 margin-left: auto; margin-right: auto; 
 display: flex; justify-content: center;
}
.section-1-container-2 >p{
 /* border: 1px solid green; */
 padding-top: 100px; padding-bottom: 100px;
 text-align: center; font-weight: 500; font-size: 25px; line-height: 40px; color: #fff;
}
.section-1-container-2 >p>span{
 font-weight: 700; color: #FFD62C;
}



/* 섹션1 밑 */
.section-1-bottom{
 /* border: 1px solid red; */
}
.section-1-bottom-img{
 /* border: 1px solid orange; */
 height: 290px;
 background-image: url(image/sseudam-section1-bottom.png);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center top;
}



/* 색션2 */
.section-2{
 /* border: 1px solid red; */
}
.section-2-container{
 /* border: 1px solid orange; */
 width: 1440px; padding-top: 250px; padding-bottom: 200px;
 margin-left: auto; margin-right: auto;
 display: flex; flex-direction: column; align-items: center; gap:50px;
 position: relative;
}
.section-2-poster{
 /* border: 1px solid green; */
 width: 1056px; height: 660px;
}
.section-2-poster >img{
 border-radius: 20px;
 width: 100%;
 object-fit: cover;
}
.section-2-title-img{
 /* border: 1px solid green; */
 width: 950px; position: absolute; top:175px;
}
.section-2-title-img>img{
 width: 100%;object-fit: cover;
}
.section-2-title-cloud1{
 /* border: 1px solid green; */
 width: 212px; position: absolute;
 top: 330px; left:75px;
}
.section-2-title-cloud1>img{
 width: 100%;object-fit: cover;
}
.section-2-title-cloud2{
 /* border: 1px solid green; */
 width: 155px; position: absolute;
 top: 530px; left:0;
}
.section-2-title-cloud2>img{
 width: 100%;object-fit: cover;
}
.section-2-title-cloud3{
 /* border: 1px solid green; */
 width: 183px; position: absolute;
 top: 450px; right:0;
}
.section-2-title-cloud3>img{
 width: 100%;object-fit: cover;
}
.section-2-title-cloud4{
 /* border: 1px solid green; */
 width: 135px; position: absolute;
 top: 600px; right:110px;
}
.section-2-title-cloud4>img{
 width: 100%; object-fit: cover;
}
.section-2-btn{
 width: 250px;
}
.section-2-btn:hover > a{
 background-color: #00B183;
 color: #FFD833;
}
.section-2-btn >a{
 background-color: #FFD833;
 border: 2px solid #058761;
 border-radius: 50px;
 width: 100%; height: 100%;
 display: flex; justify-content: center;
 padding-top: 17px; padding-bottom: 17px;
 font-weight: 600; font-size: 20px; color: #058761;
}



/* 색션3 대회코스*/
.section-3{
 /* border: 1px solid red; */
 background-color: #F3F3F3;
}
.section-3-container{
 /* border: 1px solid orange; */
 width: 1440px; 
 padding-top: 150px; padding-bottom: 170px;
 padding-left: 50px; padding-right: 50px;
 margin-left: auto; margin-right: auto;
 display: flex; flex-direction: column; gap:50px;
}
.section-3-top-box{
 /* border: 1px solid green; */
 display: flex; flex-direction: column; gap:15px; align-items: center;
}
.section-3-top-box>.section-title{
 /* border: 1px solid blue; */
 font-weight: 700; font-size: 60px; color: #333;
}
.section-3-top-box>.section-sub-title{
 /* border: 1px solid blue; */
 font-weight: 400; font-size: 24px; color: #666;
}
.section-3-bottom-box{
 /* border: 1px solid green; */
 display: flex; justify-content: space-between;
}
.section-3-bottom-box >.section-3-item-box{
 /* border: 1px solid blue; */
 display: flex; flex-direction: column; gap:40px;
 padding: 30px; border-radius: 20px;
 background-color: #fff; box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.1);
}
.section-3-item-box>.item-img-box{
 /* border: 1px solid red; */
 width: 370px; height: 240px;
}
.section-3-item-box>.item-img-box>img{
 width: 100%; height: 100%; object-fit: cover;
}
.section-3-item-box>.item-bottom-box{
 /* border: 1px solid red; */
 display: flex; flex-direction: column; gap:20px;
}
.item-bottom-box>.item-text-box{
 /* border: 1px solid orange; */
 display: flex; flex-direction: column; gap:20px;
}
.item-text-box>.item-title-box{
 /* border: 1px solid green; */
 display: flex; gap: 10px; align-items: flex-end;
}
.title-name{
 /* border: 1px solid blue; */
 font-size: 32px; font-weight: 600; color: #333;
}
.title-number{
 /* border: 1px solid blue; */
 font-size: 16px; font-weight: 400; color: #666; line-height: 25px;
}
.item-text-box>.item-sub-text{
 /* border: 1px solid green; */
 width: 370px;
 display: flex; flex-direction: column; gap:10px;
}
.item-sub-text>.item-sub-t-1{
 /* border: 1px solid blue; */
 font-size: 16px; font-weight: 500; color: #333;
}
.item-sub-text>.item-sub-t-2{
 /* border: 1px solid blue; */
 font-size: 16px; font-weight: 400; color: #666; line-height: 26px;
}
.item-bottom-box>.item-btn-box{
 width: 150px;
}
.item-bottom-box>.item-btn-box:hover > a{
 background-color: #FFD833;
 color: #058761;
 border: 2px solid #058761;
}
.item-bottom-box>.item-btn-box >a{
 border: 2px solid #ddd;
 border-radius: 50px;
 width: 100%; height: 100%;
 display: flex; justify-content: center;
 padding-top: 13px; padding-bottom: 13px;
 font-weight: 500; font-size: 16px; color: #999;
}




/* 색션4 공지사항*/
.section-4{
 /* border: 1px solid red; */
 background-color: #00B183;
}
.section-4-container{
 /* border: 1px solid orange; */
 width: 1440px; 
 padding-top: 150px; padding-bottom: 170px;
 padding-left: 50px; padding-right: 50px;
 margin-left: auto; margin-right: auto;
 display: flex; flex-direction: column; gap:50px;
}
.section-4-top-box{
 /* border: 1px solid green; */
 display: flex; flex-direction: column; gap:15px; align-items: center;
}
.section-4-top-box>.section-title{
 /* border: 1px solid blue; */
 font-weight: 700; font-size: 60px; color: #fff;
}
.section-4-top-box>.section-sub-title{
 /* border: 1px solid blue; */
 font-weight: 400; font-size: 24px; color: #fff;
}
.section-4-bottom-box{
 /* border: 1px solid green; */
 display: flex; flex-direction: column; gap:30px;
}
.section-4-rhdwl-box{
 /* border: 1px solid blue; */
 border-radius: 20px; background-color: #fff;
 box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.1);
 padding: 30px;
}
.rhdwl-box{
 /* border: 1px solid red; */
 display: flex; align-items: center;
}
.rhdwl-box>.rhdwl-left-date{
 /* border: 1px solid orange; */
 width: 137px; height: 120px;
 text-align: center; display: flex; align-items: center; justify-content: center;
}
.rhdwl-box>.rhdwl-left-date>p{
 color: #666;font-size: 20px; line-height: 38px; font-weight: 400;
}
.rhdwl-box>.rhdwl-left-date span{
 color: #333; font-size: 32px;font-weight: 500;
}
.rhdwl-box>.rhdwl-right-box{
 /* border: 1px solid orange; */
 flex-grow: 1; flex-basis: 0; padding-left: 20px; padding-right: 20px;
 display: flex; justify-content: space-between; align-items: center;
}
.rhdwl-right-box>.rhdwl-right-text{
 /* border: 1px solid green; */
 display: flex; flex-direction: column; gap:10px;
}
.rhdwl-right-text>.rhdwl-title{
 /* border: 1px solid blue; */
 color: #333;font-size: 20px; font-weight: 500;
}
.rhdwl-right-text>.rhdwl-sub{
 /* border: 1px solid blue; */
 width: 700px; text-overflow: ellipsis;
 white-space: nowrap;
 overflow: hidden; 
 color: #666;font-size: 16px; font-weight: 400;
}
.rhdwl-right-box>.rhdwl-right-arrow{
 /* border: 1px solid green; */
 width: 48px; height: 48px;
 opacity: 0;
}
.rhdwl-right-box>.rhdwl-right-arrow>a>img{
 width: 100%; height: 100%;
 object-fit: cover;
}
.rhdwl-box:hover .rhdwl-right-text>.rhdwl-title{
 color: #00B183;
}
.rhdwl-box:hover .rhdwl-right-arrow{
 opacity: 1;
}
.rhdwl-box-2{
 border-bottom: 1px solid #ddd;  border-top: 1px solid #ddd;
}
.section-4-item-group{
 /* border: 1px solid blue; */
 display: flex; gap:20px;
}
.section-4-item-group>.item-group{
 /* border: 1px solid red; */
 flex-grow: 1; flex-basis: 0;
 border-radius: 20px; background-color: #fff;
 box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.1);
 padding: 30px; display: flex; flex-direction: column; gap:50px;
}
.section-4-item-group .item-group-text{
 /* border: 1px solid orange; */
 display: flex; flex-direction: column; gap:15px;
}
.section-4-item-group .item-group-text >.item-group-title{
 /* border: 1px solid green; */
 color: #333;font-size: 32px; font-weight: 600;
}
.section-4-item-group .item-group-text >.item-group-sub{
 /* border: 1px solid green; */
 color: #333;font-size: 22px; font-weight: 400;
}
.item-group >.item-group-btn{
 width: 150px;
}
.item-group >.item-group-btn:hover > a{
 background-color: #FFD833;
 color: #058761;
 border: 2px solid #058761;
}
.item-group >.item-group-btn >a{
 border: 2px solid #ddd;
 border-radius: 50px;
 width: 100%; height: 100%;
 display: flex; justify-content: center;
 padding-top: 13px; padding-bottom: 13px;
 font-weight: 500; font-size: 16px; color: #999;
}
.section-4-item-group>.item-group-1{
 background-color: #FFD833;
}
.item-group-1 >.item-group-btn:hover > a{
 background-color: #00B183;
 color: #FFD833;
 border: 2px solid #058761;
}
.item-group-1 >.item-group-btn >a{
 border: 2px solid #ddd;
 border-radius: 50px;
 width: 100%; height: 100%;
 display: flex; justify-content: center;
 padding-top: 13px; padding-bottom: 13px;
 font-weight: 500; font-size: 16px; color: #999;
 background-color: #fff;
}



/* 색션5 갤러리*/
.section-5{
 /* border: 1px solid red; */
 background-image: url(image/sseudam-section5-bottom.png);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
}
.section-5-container{
 /* border: 1px solid orange; */
 width: 1440px; 
 padding-top: 150px; padding-bottom: 50px;
 padding-left: 50px; padding-right: 50px;
 margin-left: auto; margin-right: auto;
 display: flex; flex-direction: column; gap:50px;
}
.section-5-top-box{
 /* border: 1px solid green; */
 display: flex; justify-content: space-between; align-items: flex-end;
}
.section-5-top-left{
 /* border: 1px solid blue; */
 display: flex; flex-direction: column; gap:15px; align-items: flex-start;
}
.section-5-top-left>.section-title{
 /* border: 1px solid red; */
 font-weight: 700; font-size: 60px; color: #333;
}
.section-5-top-left>.section-sub-title{
 /* border: 1px solid red; */
 font-weight: 400; font-size: 24px; color: #666;
}
.section-5-right-btn{
 width: 150px;
}
.section-5-right-btn:hover > a{
 background-color: #FFD833;
 color: #058761;
 border: 2px solid #058761;
}
.section-5-right-btn >a{
 border: 2px solid #ddd;
 border-radius: 50px;
 width: 100%; height: 100%;
 display: flex; justify-content: center;
 padding-top: 13px; padding-bottom: 13px;
 font-weight: 500; font-size: 16px; color: #999;
}

.section-5-container-2{
 /* border: 1px solid orange; */
 width: 1920px;
 padding-bottom: 180px;
 /* padding-left: 50px; padding-right: 50px; */
 margin-left: auto; margin-right: auto;
}
/* 소장품 스와이퍼 구조 */
.section-5-container-2 > .swiper3{
 /* border:1px solid red; */
 /* position: relative; */
 overflow: hidden; 
}
.section-5-container-2 > .swiper3 >.swiper-wrapper{
 /* border: 1px solid orange; */
 width: 3000px;
}
.section-5-container-2 > .swiper3 .swiper-slide{
 /* border: 1px solid green; */
 width: 356px; height: 100%;
 margin-right: 35px;
 display: flex; flex-direction: column;
}
.section-5-container-2 .a{
 width: 356px; height: 100%;
 overflow: hidden;
}
.section-5-container-2  img{
/* border: 1px solid #373737; */
 width: 100%; height: 100%;
 object-fit: cover;
}




/* 푸터 */
.footer-section{
 /* border: 1px solid red; */
 background-color: #BAE2FA;
 position: relative;
}
.footer-container{
 /* border: 1px solid orange; */
 max-width: 1440px; margin-left: auto; margin-right: auto; 
 padding-top: 110px; padding-bottom: 130px;
 display: flex; flex-direction: column; align-items: center; gap:100px;
}
.footer-top-box{
 /* border: 1px solid green; */
 display: flex; gap:50px; align-items: center; justify-content: center;
}
.footer-top-left{
 /* border: 1px solid blue; */
 display: flex; gap:25px;
 padding: 20px 100px;
 background-color: #fff; border-radius: 50px;
}
.footer-top-left span{
 font-size: 15px; font-weight: 500; color: #999; text-align: center;
}
.footer-top-right{
 /* border: 1px solid blue; */
 display: flex; gap:15px;
}
.footer-top-right >a{
 /* border: 1px solid red; */
 width: 50px; height: 50px; background-color: #fff; border-radius: 50px;
 display: flex;
}
.footer-top-right >a >.right-btn{
 /* border: 1px solid orange; */
 width: 50px; height: 50px; border-radius: 50px;
 display: flex; align-items: center; justify-content: center;
}
.footer-top-right >a >.right-btn >i{
 font-size: 30px; color: #999;
}
.footer-bottom-box{
 /* border: 1px solid green; */
 display: flex; flex-direction: column;
 align-items: center; justify-content: center; gap:10px;
}
.footer-bottom-text-1{
 /* border: 1px solid blue; */
 display: flex; gap:10px; align-items: center;
}
.footer-bottom-text-1>.bottom-text-1-title{
 /* border: 1px solid red; */
 font-size: 15px; font-weight: 500; color: #999; text-align: center;
}
.footer-bottom-text-1>span{
 /* border: 1px solid red; */
 font-size: 14px; font-weight: 400; color: #999; text-align: center;
}
.footer-bottom-text-2{
 /* border: 1px solid blue; */
 display: flex; gap:5px; align-items: center;
}
.footer-bottom-text-2>span{
 /* border: 1px solid red; */
 font-size: 14px; font-weight: 400; color: #999; text-align: center;
}
.footer-bottom-text-3{
 /* border: 1px solid blue; */
}
.footer-bottom-text-3>span{
 /* border: 1px solid red; */
 font-size: 14px; font-weight: 400; color: #999; text-align: center
}

.footer-section>.footer-absolute{
 position: absolute;
}
.footer-section>.footer-absolute>img{
 width: 100%; height: 100%;
}
.footer-section>.footer-absolute-1{
 width: 155px;
 bottom:120px; left: -20px;
 transform:rotate(-12deg)
}
.footer-section>.footer-absolute-2{
 width: 280px;
 bottom:0; left: 80px;
 transform:rotate(0deg)
}
.footer-section>.footer-absolute-3{
 width: 240px;
 bottom:0; left: 240px;
 transform:rotate(0deg)
}
.footer-section>.footer-absolute-4{
 width: 210px;
 bottom:30px; right: 280px;
 transform:rotate(20deg)
}
.footer-section>.footer-absolute-5{
 width: 390px;
 bottom:30px; right: -50px;
 transform:rotate(-10deg)
}



